<h2 class="Header">Easy Shopping Cart</h2>
<hr>
  
  <!-- <div class="container"  *ngFor="let t of MyCartingElements;i as index">
  
<img src="{{t.PhotoPath}}" onmouseover="Expand()" style="height: 100px;width:100px;margin-top: 10px;"><br>
Name: {{t.Name}}<br>
Category : {{t.Category}}<br>
Price :{{t.Price | currency:'INR':'symbol-narrow'}}<br>

<button type="button" class="btn" (click)="Submit()"> 
  AddtoCart
</button>


  </div> -->
  <div class="container" class="divform">
    <form [formGroup]="CartForm" (ngSubmit)="SubmitForm($event)">
      <h4 style="color: brown;text-align: center;"><u><b>Add Items here :</b></u></h4>
      <label>ID :</label><br>
      <input type="text" formControlName="id">
      <div *ngIf="submitted && CartForm.controls.id.errors">
        <span class="Error"  *ngIf="CartForm.controls.id.errors.required">Id required*</span>
      </div><br>
      <label>Name :</label><br>
      <input type="text" formControlName="Name">  <div *ngIf="submitted && CartForm.controls.Name.errors">
        <span class="Error"   *ngIf="CartForm.controls.Name.errors.required">Name required*</span>
      </div><br>
      <label>Category :</label><br>
      <input type="text" formControlName="Category">  <div *ngIf="submitted && CartForm.controls.Category.errors">
        <span class="Error"  *ngIf="CartForm.controls.Category.errors.required">Category required*</span>
      </div><br>
      <label>Price :</label><br>
      <input type="number" formControlName="Price">
      <div *ngIf="submitted && CartForm.controls.Price.errors">
        <span class="Error"  *ngIf="CartForm.controls.Price.errors.required">Price required*</span>
      </div> <br><small>ex:Accepts only Digits</small><br><br>
      <label>PhotoPath :</label><br>
      <input type="text" formControlName="PhotoPath">
      <div *ngIf="submitted && CartForm.controls.PhotoPath.errors">
        <span class="Error"   *ngIf="CartForm.controls.PhotoPath.errors.required">PhotoPath required*     </span>
      </div><br>
      <small>ex:/assets/imageName.extension</small><br><br>
      <button  class="save">Save Data</button>


    </form>
  </div>
  <hr>
  <h1 style="clear: both;color: red;background-color:black;border-radius: 25px;text-align: center;"><i><b><u>List of Items :</u></b></i></h1>
<div class="container" class="divCart" *ngFor="let t of MyfetchedArray;i as index">
  <img src="{{t.PhotoPath}}" onmouseover="Expand()" style="height: 100px;width:100px;margin-top: 10px;"><br>
Name: {{t.Name}}<br>
Category : {{t.Category}}<br>
Price :{{t.Price | currency:'INR':'symbol-narrow'}}<br>
<input type="number" placeholder="Enter Item Quantity Here..."><br><br>
<button type="button" class="btn" (click)="Submit()"> 
  AddtoCart
</button>
</div>
<br>
<h1 style="clear: both;color: red;background-color:black;border-radius: 25px;text-align: center;"><i><b><u>Cart Details :</u></b></i></h1><hr>
<table>
  <thead>
    <th>Table header</th>
    <tr style="color: white;background-color: black;">
      <td>ID</td>
      <td>Name</td>
      <td>Category</td>
      <td>Price</td>
      <td>PhotoPath</td>
      <td >Edit Item</td>
      <td >Delete Item</td>
     
    </tr>
  </thead>
  <tbody *ngFor="let t of MyfetchedArray;i as index">
    <tr>
      <td><span style="color: chocolate;">{{t.id}}</span></td>
      <td><span style="color:chocolate;">{{t.Name}} </span></td>
      <td><span style="color: chocolate;">{{t.Category}}</span></td>
      <td><span style="color:brown">{{t.Price | currency:'INR':'symbol-narrow'}}</span></td>
      <td> <img src="{{t.PhotoPath}}"  style="height: 100px;width:100px;margin-top: 10px;"></td>
      
      <td><button (click)="Edit()" style="color: white;background-color: teal;">Edit Item</button></td>
      <td><button (click)="Delete(i)" style="color: white;background-color: red;">Delete Item</button></td>
    </tr>

  </tbody>

</table>
